<div>
    <h2>{{this.name}}</h2>
    <ul>
        <li>
            <p>Температура: {{this.main.temp}}</p>
        </li>
        <li>
            <p>Відчувається як: {{this.main.feels_like}}</p>
        </li>
        <li>
            <p>Схід сонця: {{this.sys.sunrise}}</p>
        </li>
        <li>
            <p>Захід сонця: {{this.sys.sunset}}</p>
        </li>
        <li>
            <p>Хмарність: {{this.clouds.all}}%</p>
        </li>
    </ul>
</div>